:root {
  background-color: #0c0e1d;
  color: #aaffff;
  color-scheme: dark;
  font-family: "SF Mono",
    ui-monospace,
    Monaco,
    "Roboto Mono",
    Consolas,
    "Liberation Mono",
    "DejaVu Sans Mono",
    monospace;
}

main {
  margin: 0 auto;
  max-width: 40em;
  padding-top: 2em;
  padding-bottom: 10em;
}

figure {
  margin: 0;
}

figcaption {
  display: none;
}

img {
  height: auto;
  width: 100%;
}

a {
  color: #AAFFFF;
}

a:hover {
  color: White;
}

h1 {
  margin-block-start: 1.3em;
}

h2 {
  margin-block-start: 1.83em;
}

p {
  line-height: 1.4;
}