.asciiart, figure {
  margin: 0;
}

.asciiart figcaption {
  display: none;
}

.asciiart pre {
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .asciiart pre {
    font-size: 12px;
  }
}