img {
  border-radius: .25em;
  height: auto;
  width: 100%;
}

picture {
  display: block;
  margin-bottom: 1em;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: .5em;
}

.gallery picture {
  margin-bottom: -.25em;
}

.gallery img {
  border-radius: 0.25em;
}