html {
  background-color: #292c3b;
  color: #E2E2E5;
  color-scheme: dark;
  font-family: ui-monospace,
               "SF Mono",
               Menlo,
               Monaco,
               "Roboto Mono",
               Consolas,
               "Liberation Mono",
               "DejaVu Sans Mono",
               monospace;
  font-size: 16px;
}

@media (max-width: 600px) {
  html {
    font-size: 14.5px;
  }
}

main {
  margin: 0 auto;
  max-width: 700px;
  padding-block-start: 2em;
}

footer {
  margin: 2em auto;
  max-width: 700px;
  padding-block-start: 1em;
}

a {
  color: #8BCEFF;
  line-height: 1.5;
}

a:hover {
  color: White;
}

p {
  line-height: 1.5;
  margin-block-start: 2em;
  margin-block-end: 2em;
}

h1 {
  margin-block-start: 1.3em;
}

h2 {
  margin-block-start: 1.83em;
}

ul {
  line-height: 1.7em;
  padding-inline-start: 1em;
}

pre {
  color: #8BCEFF;
  font-size: 0.8em;
  overflow: auto;
}