<!DOCTYPE html>
<html lang="en" style="color-scheme: dark">
{% include "headers/head_project.njk" %}
<body class="font-mono max-w-2xl mx-auto bg-gray-800 text-white px-3 prose prose-invert prose-a:text-blue-300 prose-ul:pl-4 prose-ul:leading-5 prose-p:leading-6 prose-img:rounded prose-sm sm:prose-base">
<main>
<nav class="my-8">
  <span role="presentation">◀ </span><a href="/">Home</a>
</nav>
<h1>{{title}}</h1>
<p>Peter Müller, {% date %}</p>
{{ content | safe }}
{% if gallery -%}
<h2>Gallery</h2>
<section class="grid grid-cols-3 gap-3 prose-img:my-0 sm:prose-img:my-0">
{% for img in collections[gallery] -%}
{% image img.url,
         img.alt,
         "(max-width: 669px) calc((100vw / 3) - 2em - 16px),
          (min-width: 670px) 228px",
          [250, 450, 4032] %}
{% endfor -%}
{% endif -%}
</section>
<nav>
<h2>More projects</h2>
{% for project in collections.project -%}
{% if project.data.title != title -%}
<p><a href="{{ project.url }}">{{ project.data.title }}</a></p>
{% endif -%}
{% endfor -%}
</nav>
</main>
{% include "components/footer.njk" %}
</body>
</html>