<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body>
<main>
<nav>
  <a href="/">◀ Home</a>
</nav>
{{ content | safe }}
{% if gallery -%}
<h2>Gallery</h2>
<section class="gallery">
{% for img in collections[gallery] -%}
{% image img.url,
         img.alt,
         [250, 450, 4032],
         "(max-width: 639px) calc((100vw / 3) - 2em -16px),
          (min-width: 640px) 203px" %}
{% endfor -%}
{% endif -%}
</section>
<nav>
<h2>Other projects</h2>
{% for project in collections.project -%}
{% if project.data.title != title -%}
<p><a href="{{ project.url }}">{{ project.data.title }}</a></p>
{% endif -%}
{% endfor -%}
</nav>
</main>
</body>
</html>