<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body>
<main>
<nav>
  <a href="/">◀ Home</a>
</nav>
{{ content | safe }}
<h2>Gallery 1</h2>
{% for img in collections.smolsat_1_gallery_1 -%}
{% image img.url,
         img.alt,
         [640, 800, 1000, 1280, 1920],
         "(max-width: 639px) 100vw,
          (min-width: 640px) 640px" %}
{% endfor -%}
<h2>Gallery 2</h2>
{% for img in collections.smolsat_1_gallery_2 -%}
{% image img.url,
         img.alt,
         [640, 800, 1000, 1280, 1920],
         "(max-width: 639px) 100vw,
          (min-width: 640px) 640px" %}
{% endfor -%}
<nav>
<h2>Projects</h2>
{% for project in collections.project -%}
<p><a href="{{ project.url }}">{{ project.data.title }}</a></p>
{%- endfor %}
</nav>
</main>
</body>
</html>