<footer>
    --<br>
    Peter Müller © <time datetime="{{ lastUpdated | isoDate }}">{{ lastUpdated | formatYear }}</time> - <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">CC BY 4.0</a>
    <br>
    Last updated: <time datetime="{{ lastUpdated | isoDate }}">{{ lastUpdated | formatDate }}</time> - <a href="https://github.com/petermllrr/smolspaceprogram.com">GitHub</a>
</footer>