<footer>
<p>
--<br>
Peter Müller © <time datetime="{{ now.year }}">{{ now.year }}</time> - <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">CC BY 4.0</a><br>
Last updated: <time datetime="{{ now.yyyymmdd }}">{{ now.formatted }}</time> - <a href="https://github.com/petermllrr/Smol-Space-Program">GitHub</a>
</p>
</footer>