<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description }}">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#e5e1dd" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#292c3b" />
<link rel="icon" href="/favicon-32x32.png" type="image/png">
<style>

{% block stylesheet %}
{% endblock %}

</style>
<title>{{ title }}</title>
</head>