:root {
  font-family: ui-monospace,
               "SF Mono",
               Monaco,
               "Roboto Mono",
               Consolas,
               "Liberation Mono",
               "DejaVu Sans Mono",
               monospace;
}

@media (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #181c2b;
    color: #aaffff;
    color-scheme: dark;
  }

  a {
    color: #aaffff;
  }

  a:hover {
    color: White;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f5f5f5;
    color: #4f3fdb;
    color-scheme: light;
  }

  a {
    color: #4f3fdb;
  }

  a:hover {
    color: #8579f1;
  }
}

main {
  margin: 0 auto;
  max-width: 640px;
  padding-block-start: 2em;
  padding-block-end: 10em;
}

figure {
  margin: 0;
}

figcaption {
  display: none;
}

img {
  border-radius: 1em;
  height: auto;
  width: 100%;
}

picture {
  display: block;
  margin-block-end: 1em;
}

pre {
  font-size: 13px;
  font-weight: bold;
}

h1 {
  margin-block-start: 1.3em;
}

h2 {
  margin-block-start: 1.83em;
}

p {
  line-height: 1.4;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: .5em;
}

.gallery picture {
  margin-block-end: -.25em;
}

.gallery img {
  border-radius: 0.2em;
}